:root {
  --primary: #a34949;
  --secondary: #f0bcbc;
  font-family: 'Quicksand', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--secondary);
}

/* ---------bar DE NAVEGACION------------- */

.navbar {
  background-color: var(--primary);
  margin-bottom: 5px !important;
  min-height: 10px;
  padding: 0px 20px;
}

.container-bar {
  position: relative;
  color: var(--secondary);
}

.navbar-default .navbar-nav > li > a {
  color: var(--secondary) !important;
}

.col-bar {
  margin: 0 2px;
}

.navbar-bars {
  background-color: var(--secondary);
  height: 50px;
  border: none;
}

@media (max-width: 1700px) {
  .navbar-form .form-control {
    width: 400px;
  }
}

.container-button {
  float: left;
  margin-left: 20px;
}

.form {
  width: 400px !important;
}

.icons {
  float: right;
  padding: 15px 2px;
  margin: 4px;
}

.navbar-icons {
  position: absolute;
  width: 100%;
}

.container-icons {
  margin-right: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

/* ---------- FRONT PAGE------------------ */

.img-front {
  width: 100%;
  margin-bottom: 6px;
}

/* ------------brands------------------ */

.container-brands {
  position: relative;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  margin-top: 0px;
  margin-bottom: 29px;
}

.container-seeBrands {
  position: relative;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  margin-top: 0px;
  margin-bottom: 29px;
}

/* -----------------BUTTONS------------ */

.spacing {
  margin-bottom: 70px;
}

.btn-wrap-text {
  background-color: var(--primary);
  color: var(--secondary);
  white-space: normal !important;
  word-wrap: break-word !important;
  font-size: 9px;
  margin-top: 5px !important;
  height: 40px;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all 0.5s;
}

.btn-wrap-text {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: Ellipsis;
}

.button-style {
  padding: 16px;
  margin-bottom: 6px;
  background-color: #eecfca !important;
  color: #703b32;
  border: 2px solid;
  border-radius: 12px;
}

/* ----------------PRODUCTS---------------- */

.content {
  max-width: 1200px;
  background-color: #eecfca;
  padding: 30px 20px;
  width: 100%;
}

.image-products {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

/* ---------------ABOUT US------------ */

.content_us {
  max-width: 1200px;
  background-color: #eecfca;
  padding: 30px 20px;
}

.content_us img {
  display: block;
  width: auto;
  height: auto;
}

.content_purchases {
  justify-content: center;
}

.purchases-title {
  padding: 75px 80px 20px 80px;
}

/* ----------OFFERS----------------- */

@media (max-width: 1900px) {
  .content_offers {
    width: 100%;
    position: relative;
    padding: 60px 20px;
    justify-content: center;
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
  }
}

/* ----------FORM ----------------*/

@media (max-width: 1200px) {
  .form {
    width: 500px !important;
    align-items: center;
  }
}

@media (max-width: 1400px) {
  .container-form {
    background-image: url(../img/form.jpg);
    position: relative;
    width: 100%;
  }
}

.container-form {
  position: relative;
  width: 50%;
  background-color: rgb(255, 255, 255, 0.5);
  border: 2px solid var(--secondary);
  margin: auto;
  padding: 10px 100px;
}

.contact-form label {
  text-align: center;
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
  color: #222;
}

@media (max-width: 1900px) {
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    background-color: #fff;
    padding: 0 5px;
    height: 40px;
    color: #222;
    font-size: 16px;
    border: none;
  }
}

.contact-form textarea {
  padding-top: 10px;
  height: 158px;
  resize: none;
}

.contact-form .main-btn {
  border-radius: 5px;
}

@media (max-width: 1900px) {
  .mt-45 {
    margin: 5px 20px;
  }
}

/* ----- -----  Styles for Validation ----- ----- */

.form__input-wrong {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.form__input-wrong-active {
  display: block;
}

.form__group-correct {
  color: #1ed12d;
  opacity: 1;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect {
  color: #bb2929;
  opacity: 1;
}

.form__group-incorrect .form__input {
  border: 3px solid #bb2929;
}

.form__message-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.form__message-exito-active {
  display: block;
}

.wrong {
  background-color: red;
  color: white;
  padding: 0, 5 rem;
  text-align: center;
}

.validateMesagge {
  background-color: green;
  color: white;
  padding: 0, 5 rem;
  text-align: center;
}
